body {
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
}

h1 {
  color: whitesmoke;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
h2 {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
  color: whitesmoke;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

h3 {
  color: whitesmoke;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}

li::first-letter {
  text-transform: uppercase;
}

li {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
  color: whitesmoke;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

.background {
  background-size: cover;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.location {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
  margin-right: 5px;
}
.weather-temperature {
  align-items: center;
}
.weather-temperature strong {
  font-size: 64px;
  font-weight: 100;
  line-height: 1;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  font-weight: 100;
  line-height: 1;
  top: -16px;
}

.weather-temperature .active {
  color: whitesmoke;
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.weather-forecast {
  text-align: center;
  margin-top: 20px;
}
.weather-forecast-temperature {
  position: absolute;
  text-align: center;
  font-size: 13px;
  margin: 0 10px;
}
